# üìà Financial Metric Calculation from R√öZ API Data

This notebook processes financial statement data extracted from the Register √∫ƒçtovn√Ωch z√°vierok (R√öZ) API.

It performs:
- **Metric calculation**: Computes financial ratios from balance sheet and income statement values
- **Mapping**: Handles different report structures for:
  - Micro enterprises (MUJ)
  - Small enterprises (POD)
- **Final merge**: Combines both processed datasets into one unified format

The goal is to create a clean dataset of financial indicators for further exploration and modelling.

In [1]:
import numpy as np
import pandas as pd

In [ ]:
muj = pd.read_csv("ucMUJ.csv") #List of all micro companies financial records 
pod = pd.read_csv("ucPOD.csv") #List of all small companies financial records

In [ ]:
#MICRO ENTERPRISES CALCULATION
def fin_metrics_muj(df):
    metrics = pd.DataFrame(index=df.index)
    # Likvidita 1. stup≈àa / Liquidity Ratio (1st degree) ‚Äì Cash Ratio
    metrics["Lik_1"] = df["suv_r_21_s1"] / df["suv_r_38_s1"]

    # Likvidita 2. stup≈àa / Liquidity Ratio (2nd degree) ‚Äì Quick Ratio
    metrics["Lik_2"] = (df["suv_r_21_s1"] + df["suv_r_17_s1"]) / df["suv_r_38_s1"]

    # Likvidita 3. stup≈àa / Liquidity Ratio (3rd degree) ‚Äì Current Ratio
    metrics["Lik_3"] =(df["suv_r_21_s1"] + df["suv_r_17_s1"] + df["suv_r_15_s1"]) / df["suv_r_38_s1"]

    # Rentabilita akt√≠v (ROA)
    metrics["ROA"] = (df["vyk_r_38_s1"] / df["suv_r_1_s1"])*100

    # Rentabilita vlastn√©ho kapit√°lu (ROE)
    metrics["ROE"] = (df["vyk_r_38_s1"] / df["suv_r_25_s1"])*100

    # Rentabilita kapit√°lu (ROI)
    metrics["ROI"] = ((df["vyk_r_38_s1"] +df["vyk_r_31_s1"]) / df["suv_r_24_s1"])*100

    # Rentabilita tr≈æieb (ROS)
    metrics["Rentabilita_trzieb"] = (df["vyk_r_38_s1"] / df["vyk_r_1_s1"]) * 100

    # Rentabilita n√°kladov / Cost Profitability Ratio
    metrics["Rentabilita_nakladov"] = (df["vyk_r_35_s1"] / df["vyk_r_8_s1"])*100

    # Ziskov√° mar≈æa / Profit Margin
    metrics["Ziskova_marza"] = (df["vyk_r_38_s1"] / df["vyk_r_1_s1"]) * 100

    # Stupe≈à samofinancovania / Self-Financing Ratio
    metrics["Stupen_samofinancovania"] = df["suv_r_25_s1"] / df["suv_r_1_s1"]*100

    # Stupe≈à zadƒ∫≈æenosti / Debt Ratio
    metrics["Stupen_zadlzenosti"] = df["suv_r_34_s1"] / (df["suv_r_1_s1"])*100

    # Doba spl√°cania z√°v√§zkov / Accounts Payable Repayment Period (in days)
    metrics["Doba_splacania_zavazkov"] = (df["suv_r_34_s1"]/df["vyk_r_8_s1"])*365

    # Finanƒçn√° p√°ka / Financial Leverage
    metrics["Financna_paka"] = df["suv_r_1_s1"] / df["suv_r_25_s1"]

    # Obrat celkov√Ωch akt√≠v / Total Asset Turnover
    metrics["Obrat_aktiv"] = df["vyk_r_1_s1"] / df["suv_r_1_s1"]

    # Obrat dlhodob√©ho majetku / Fixed Asset Turnover
    metrics["Obrat_dlhodobeho_majetku"] = df["vyk_r_1_s1"] / df["suv_r_2_s1"]

    # Doba obratu z√°sob / Inventory Turnover Period (in days)
    metrics["Doba_obratu_zasob"] = (df["suv_r_15_s1"]/df["vyk_r_1_s1"])*365

    metrics = metrics.round(4)

    return metrics

In [ ]:
#SMAL ENTERPRISES CALCULATION
def fin_metrics_pod(df):
    metrics = pd.DataFrame(index=df.index)
    # Likvidita 1. stup≈àa / Liquidity Ratio (1st degree) ‚Äì Cash Ratio
    metrics["Lik_1"] = df["suv_r_71_s3"] / df["suv_r_122_s1"]

    # Likvidita 2. stup≈àa / Liquidity Ratio (2nd degree) ‚Äì Quick Ratio
    metrics["Lik_2"] = (df["suv_r_71_s3"] + df["suv_r_53_s3"]) / df["suv_r_122_s1"]

    # Likvidita 3. stup≈àa / Liquidity Ratio (3rd degree) ‚Äì Current Ratio
    metrics["Lik_3"] =(df["suv_r_71_s3"] + df["suv_r_53_s3"] + df["suv_r_34_s3"]) / df["suv_r_122_s1"]

    # Rentabilita akt√≠v (ROA)
    metrics["ROA"] = (df["vyk_r_61_s1"] / df["suv_r_1_s3"])*100

    # Rentabilita vlastn√©ho kapit√°lu (ROE)
    metrics["ROE"] = (df["vyk_r_61_s1"] / df["suv_r_80_s1"])*100

    # Rentabilita kapit√°lu (ROI)
    metrics["ROI"] = ((df["vyk_r_61_s1"] + df["vyk_r_49_s1"]) /df["suv_r_1_s3"])*100

    # Rentabilita tr≈æieb (ROS)
    metrics["Rentabilita_trzieb"] = (df["vyk_r_61_s1"] / df["vyk_r_2_s1"]) * 100

    # Rentabilita n√°kladov / Cost Profitability Ratio
    metrics["Rentabilita_nakladov"] = (df["vyk_r_56_s1"] / df["vyk_r_10_s1"])*100

    # Ziskov√° mar≈æa / Profit Margin
    metrics["Ziskova_marza"] = (df["vyk_r_61_s1"] / df["vyk_r_2_s1"]) * 100

    # Stupe≈à samofinancovania / Self-Financing Ratio
    metrics["Stupen_samofinancovania"] = (df["suv_r_80_s1"] / df["suv_r_1_s3"])*100

    # Stupe≈à zadƒ∫≈æenosti / Debt Ratio
    metrics["Stupen_zadlzenosti"] = (df["suv_r_101_s1"] / df["suv_r_1_s3"])*100

    # Doba spl√°cania z√°v√§zkov / Accounts Payable Repayment Period (in days)
    metrics["Doba_splacania_zavazkov"] = (df["suv_r_101_s1"]/df["vyk_r_10_s1"])*365

    # Finanƒçn√° p√°ka / Financial Leverage
    metrics["Financna_paka"] = df["suv_r_1_s3"] / df["suv_r_80_s1"]

    # Obrat celkov√Ωch akt√≠v / Total Asset Turnover
    metrics["Obrat_aktiv"] = df["vyk_r_2_s1"] / df["suv_r_1_s3"]

    # Obrat dlhodob√©ho majetku / Fixed Asset Turnover
    metrics["Obrat_dlhodobeho_majetku"] = df["vyk_r_2_s1"] / df["suv_r_2_s3"]

    #Doba obratu z√°sob / Inventory Turnover Period (in days)
    metrics["Doba_obratu_zasob"] = (df["suv_r_34_s3"]/df["vyk_r_2_s1"])*365

    metrics = metrics.round(4)

    return metrics

In [ ]:
#Exporting results
vysledky_muj = fin_metrics_muj(muj)
vysledky_muj["Firma"] = muj["nazovUctovnejJednotky"]
vysledky_muj["Rok"] = pd.to_datetime(muj["obdobieOd"]).dt.year
vysledky_muj.head(10)

,Lik_1,Lik_2,Lik_3,ROA,ROE,ROI,Rentabilita_trzieb,Rentabilita_nakladov,Ziskova_marza,Stupen_samofinancovania,Stupen_zadlzenosti,Doba_splacania_zavazkov,Financna_paka,Obrat_aktiv,Obrat_dlhodobeho_majetku,Doba_obratu_zasob,Firma,Rok
0,0.2046,0.6585,1.2469,-9.0752,-439.4387,-3.0825,-3.0645,-1.9231,-3.0645,2.0652,97.9348,121.1591,48.4217,2.9614,7.7531,35.9452,"JP ELEKTROSERVIS, s.r.o.",2014
1,0.0030,1.2096,1.2096,2.3480,49.3014,2.7335,2.2363,2.9412,2.2363,4.7625,95.2375,342.1207,20.9974,1.0500,inf,0.0000,"Enerline, s. r. o.",2014
2,0.3839,1.6318,1.6318,42.2609,240.8884,42.2609,6.5684,9.8523,6.5684,17.5438,82.4562,51.5438,5.7000,6.4340,inf,0.0000,GENERI SLOVAKIA s.r.o.,2014
3,0.1854,1.0582,1.3302,-26.8890,-1194.7623,-26.8890,-11.7750,-10.5433,-11.7750,2.2506,97.7494,139.8973,44.4331,2.2836,inf,32.6869,MVM rozv√°dzaƒçe s.r.o.,2014
4,0.0873,0.1012,0.1012,-107.7398,50.5483,-107.7398,-539.2936,-81.2500,-539.2936,-213.1422,313.1422,1072.7163,-0.4692,0.1998,0.2923,0.0000,"PROMAX P, spol s r. o.",2014
5,1.2690,1.8625,1.8625,33.7479,76.4233,34.5424,6.0157,8.4907,6.0157,44.1593,55.8407,39.7119,2.2645,5.6100,40.4385,0.0000,BV-Kabeltechnik s.r.o.,2014
6,5.1521,8.5222,8.7092,31.4536,33.9925,31.4536,19.7839,34.7901,19.7839,92.5310,7.4690,23.2016,1.0807,1.5899,4.5488,3.2061,"Svetl√≠k, s.r.o.",2014
7,9.5918,18.4672,18.4672,-16.8932,-18.8111,-16.8932,-22.5673,-17.7138,-22.5673,89.8044,10.1956,40.9924,1.1135,0.7486,18.5653,0.0000,"C. H. S., spol. s r.o.",2014
8,0.0000,0.0000,0.0000,-0.5612,-0.5737,-0.5612,-inf,-inf,-inf,97.8286,2.1714,inf,1.0222,0.0000,0.0000,NaN,"YURA-ELTEC, S.R.O.",2014
9,1.7803,2.8052,3.7319,9.4526,30.3220,9.4526,6.3195,10.2897,6.3195,31.1739,68.8261,185.7803,3.2078,1.4958,inf,60.5914,ALNIKA s.r.o.,2014

In [ ]:
#We replace -inf and inf cells with NaN
vysledky_muj.replace([np.inf, -np.inf], np.nan, inplace=True)

In [7]:
vysledky_muj.head(10)

,Lik_1,Lik_2,Lik_3,ROA,ROE,ROI,Rentabilita_trzieb,Rentabilita_nakladov,Ziskova_marza,Stupen_samofinancovania,Stupen_zadlzenosti,Doba_splacania_zavazkov,Financna_paka,Obrat_aktiv,Obrat_dlhodobeho_majetku,Doba_obratu_zasob,Firma,Rok
0,0.2046,0.6585,1.2469,-9.0752,-439.4387,-3.0825,-3.0645,-1.9231,-3.0645,2.0652,97.9348,121.1591,48.4217,2.9614,7.7531,35.9452,"JP ELEKTROSERVIS, s.r.o.",2014
1,0.0030,1.2096,1.2096,2.3480,49.3014,2.7335,2.2363,2.9412,2.2363,4.7625,95.2375,342.1207,20.9974,1.0500,NaN,0.0000,"Enerline, s. r. o.",2014
2,0.3839,1.6318,1.6318,42.2609,240.8884,42.2609,6.5684,9.8523,6.5684,17.5438,82.4562,51.5438,5.7000,6.4340,NaN,0.0000,GENERI SLOVAKIA s.r.o.,2014
3,0.1854,1.0582,1.3302,-26.8890,-1194.7623,-26.8890,-11.7750,-10.5433,-11.7750,2.2506,97.7494,139.8973,44.4331,2.2836,NaN,32.6869,MVM rozv√°dzaƒçe s.r.o.,2014
4,0.0873,0.1012,0.1012,-107.7398,50.5483,-107.7398,-539.2936,-81.2500,-539.2936,-213.1422,313.1422,1072.7163,-0.4692,0.1998,0.2923,0.0000,"PROMAX P, spol s r. o.",2014
5,1.2690,1.8625,1.8625,33.7479,76.4233,34.5424,6.0157,8.4907,6.0157,44.1593,55.8407,39.7119,2.2645,5.6100,40.4385,0.0000,BV-Kabeltechnik s.r.o.,2014
6,5.1521,8.5222,8.7092,31.4536,33.9925,31.4536,19.7839,34.7901,19.7839,92.5310,7.4690,23.2016,1.0807,1.5899,4.5488,3.2061,"Svetl√≠k, s.r.o.",2014
7,9.5918,18.4672,18.4672,-16.8932,-18.8111,-16.8932,-22.5673,-17.7138,-22.5673,89.8044,10.1956,40.9924,1.1135,0.7486,18.5653,0.0000,"C. H. S., spol. s r.o.",2014
8,0.0000,0.0000,0.0000,-0.5612,-0.5737,-0.5612,NaN,NaN,NaN,97.8286,2.1714,NaN,1.0222,0.0000,0.0000,NaN,"YURA-ELTEC, S.R.O.",2014
9,1.7803,2.8052,3.7319,9.4526,30.3220,9.4526,6.3195,10.2897,6.3195,31.1739,68.8261,185.7803,3.2078,1.4958,NaN,60.5914,ALNIKA s.r.o.,2014

In [8]:
vysledky_pod = fin_metrics_pod(pod)
vysledky_pod["Firma"] = pod["nazovUctovnejJednotky"]
vysledky_pod["Rok"] = pd.to_datetime(pod["obdobieOd"]).dt.year
vysledky_pod.head(5)

,Lik_1,Lik_2,Lik_3,ROA,ROE,ROI,Rentabilita_trzieb,Rentabilita_nakladov,Ziskova_marza,Stupen_samofinancovania,Stupen_zadlzenosti,Doba_splacania_zavazkov,Financna_paka,Obrat_aktiv,Obrat_dlhodobeho_majetku,Doba_obratu_zasob,Firma,Rok
0,1.1782,1.4585,1.5230,7.2482,27.3981,9.8907,2.2943,4.6237,2.2943,26.4552,73.5448,90.4217,3.7800,3.1592,17.7351,3.9976,SPIN TN s.r.o.,2014
1,0.1050,4.1614,6.6030,18.4622,24.8776,18.6958,14.5631,23.2223,14.5631,74.2119,25.7881,92.0916,1.3475,1.2677,30.1231,98.7657,"ELEN,s.r.o.",2014
2,0.4151,75.8868,75.8868,0.1096,0.1107,0.1096,inf,186.5052,inf,99.0155,0.9845,669.3772,1.0099,0.0000,NaN,NaN,"PC TRADING, spol. s r.o.",2014
3,9.4583,9.4583,9.4583,-11.1454,-12.5124,-11.1454,-inf,-inf,-inf,89.0749,10.9251,inf,1.1227,0.0000,NaN,NaN,"ELCOM - ZH, spol. s r.o.",2014
4,1.2867,1.4991,1.5799,-13.0596,65.0941,-10.7392,-6.5338,-5.9252,-6.5338,-20.0627,120.0627,210.1688,-4.9844,1.9988,2.5447,1.9859,"SK - ELTEST, s.r.o.",2014

In [ ]:
vysledky_pod.replace([np.inf, -np.inf], np.nan, inplace=True)

In [10]:
vysledky_pod.head(10)

,Lik_1,Lik_2,Lik_3,ROA,ROE,ROI,Rentabilita_trzieb,Rentabilita_nakladov,Ziskova_marza,Stupen_samofinancovania,Stupen_zadlzenosti,Doba_splacania_zavazkov,Financna_paka,Obrat_aktiv,Obrat_dlhodobeho_majetku,Doba_obratu_zasob,Firma,Rok
0,1.1782,1.4585,1.5230,7.2482,27.3981,9.8907,2.2943,4.6237,2.2943,26.4552,73.5448,90.4217,3.7800,3.1592,17.7351,3.9976,SPIN TN s.r.o.,2014
1,0.1050,4.1614,6.6030,18.4622,24.8776,18.6958,14.5631,23.2223,14.5631,74.2119,25.7881,92.0916,1.3475,1.2677,30.1231,98.7657,"ELEN,s.r.o.",2014
2,0.4151,75.8868,75.8868,0.1096,0.1107,0.1096,NaN,186.5052,NaN,99.0155,0.9845,669.3772,1.0099,0.0000,NaN,NaN,"PC TRADING, spol. s r.o.",2014
3,9.4583,9.4583,9.4583,-11.1454,-12.5124,-11.1454,NaN,NaN,NaN,89.0749,10.9251,NaN,1.1227,0.0000,NaN,NaN,"ELCOM - ZH, spol. s r.o.",2014
4,1.2867,1.4991,1.5799,-13.0596,65.0941,-10.7392,-6.5338,-5.9252,-6.5338,-20.0627,120.0627,210.1688,-4.9844,1.9988,2.5447,1.9859,"SK - ELTEST, s.r.o.",2014
5,4.3690,4.9418,5.0991,14.3676,17.9446,14.3676,11.2073,16.9152,11.2073,80.0663,19.9337,66.3807,1.2490,1.2820,104.3106,8.6731,FITTICH RATES s.r.o.,2014
6,0.5507,4.7695,4.7695,1.2033,1.5267,1.2033,1.2431,2.5438,1.2431,78.8165,21.1835,81.2576,1.2688,0.9680,NaN,0.0000,PROFITERM SLOVAKIA s.r.o.,2014
7,0.4808,2.9828,3.3363,1.3137,2.0077,1.3137,0.8329,1.6855,0.8329,65.4330,26.2681,62.6791,1.5283,1.5772,19.1189,21.2472,Hems s.r.o.,2014
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"DYNAMIK, SPOL. S R.O. V LIKVID√ÅCII",2014
9,0.8666,1.1497,1.9312,14.6848,30.2805,14.6848,5.6016,7.8338,5.6016,48.4959,51.5041,77.8004,2.0620,2.6215,65.6222,53.1488,"NEKO, spol. s r. o. Ko≈°ice",2014

In [ ]:
#We combine dataframes of ratios to one dataframe
df_combined = pd.concat([vysledky_muj, vysledky_pod], ignore_index=True)

In [13]:
columns_to_convert = [
    'Lik_1', 'Lik_2', 'Lik_3', 'ROA', 'ROE', 'ROI', 
    'Rentabilita_trzieb', 'Rentabilita_nakladov', 'Ziskova_marza', 
    'Stupen_samofinancovania', 'Stupen_zadlzenosti', 'Doba_splacania_zavazkov', 
    'Financna_paka', 'Obrat_aktiv', 'Obrat_dlhodobeho_majetku', 'Doba_obratu_zasob'
]

In [14]:
df_combined[columns_to_convert] = df_combined[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [16]:
df_combined.head(10)

,Lik_1,Lik_2,Lik_3,ROA,ROE,ROI,Rentabilita_trzieb,Rentabilita_nakladov,Ziskova_marza,Stupen_samofinancovania,Stupen_zadlzenosti,Doba_splacania_zavazkov,Financna_paka,Obrat_aktiv,Obrat_dlhodobeho_majetku,Doba_obratu_zasob,Firma,Rok
0,0.2046,0.6585,1.2469,-9.0752,-439.4387,-3.0825,-3.0645,-1.9231,-3.0645,2.0652,97.9348,121.1591,48.4217,2.9614,7.7531,35.9452,"JP ELEKTROSERVIS, s.r.o.",2014
1,0.0030,1.2096,1.2096,2.3480,49.3014,2.7335,2.2363,2.9412,2.2363,4.7625,95.2375,342.1207,20.9974,1.0500,NaN,0.0000,"Enerline, s. r. o.",2014
2,0.3839,1.6318,1.6318,42.2609,240.8884,42.2609,6.5684,9.8523,6.5684,17.5438,82.4562,51.5438,5.7000,6.4340,NaN,0.0000,GENERI SLOVAKIA s.r.o.,2014
3,0.1854,1.0582,1.3302,-26.8890,-1194.7623,-26.8890,-11.7750,-10.5433,-11.7750,2.2506,97.7494,139.8973,44.4331,2.2836,NaN,32.6869,MVM rozv√°dzaƒçe s.r.o.,2014
4,0.0873,0.1012,0.1012,-107.7398,50.5483,-107.7398,-539.2936,-81.2500,-539.2936,-213.1422,313.1422,1072.7163,-0.4692,0.1998,0.2923,0.0000,"PROMAX P, spol s r. o.",2014
5,1.2690,1.8625,1.8625,33.7479,76.4233,34.5424,6.0157,8.4907,6.0157,44.1593,55.8407,39.7119,2.2645,5.6100,40.4385,0.0000,BV-Kabeltechnik s.r.o.,2014
6,5.1521,8.5222,8.7092,31.4536,33.9925,31.4536,19.7839,34.7901,19.7839,92.5310,7.4690,23.2016,1.0807,1.5899,4.5488,3.2061,"Svetl√≠k, s.r.o.",2014
7,9.5918,18.4672,18.4672,-16.8932,-18.8111,-16.8932,-22.5673,-17.7138,-22.5673,89.8044,10.1956,40.9924,1.1135,0.7486,18.5653,0.0000,"C. H. S., spol. s r.o.",2014
8,0.0000,0.0000,0.0000,-0.5612,-0.5737,-0.5612,NaN,NaN,NaN,97.8286,2.1714,NaN,1.0222,0.0000,0.0000,NaN,"YURA-ELTEC, S.R.O.",2014
9,1.7803,2.8052,3.7319,9.4526,30.3220,9.4526,6.3195,10.2897,6.3195,31.1739,68.8261,185.7803,3.2078,1.4958,NaN,60.5914,ALNIKA s.r.o.,2014

In [ ]:
df_combined.to_excel("Metrics_WIP.xlsx", index=False) #saving output