# Data Cleaning

This notebook performs critical cleaning operations of the financial metrics dataset.

Steps included:
- Removal of rows with incomplete or unrealistic financial data
- Removal of financial metrics with insufficient quality of data
- Ensure that the dataset is ready for preprocessing, exploration and modeling

In [1]:
import numpy as np
import pandas as pd

In [ ]:
raw_data = pd.read_excel("Metrics_WIP.xlsx")

In [5]:
raw_data.describe(include='all')

,Lik_1,Lik_2,Lik_3,ROA,ROE,ROI,Rentabilita_trzieb,Rentabilita_nakladov,Ziskova_marza,Stupen_samofinancovania,Stupen_zadlzenosti,Doba_splacania_zavazkov,Financna_paka,Obrat_aktiv,Obrat_dlhodobeho_majetku,Doba_obratu_zasob,Firma,Rok
count,3905.00,3905.00,3905.00,4232.00,4240.00,4232.00,3738.00,3934.00,3738.00,4232.00,4232.00,3934.00,4240.00,4232.00,2438.00,3738.00,4304,4304.00
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1032,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NEFA, S.R.O.",NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
mean,35.45,38.59,39.73,-22.63,-9.04,-22.22,-456.29,42.08,-456.29,16.28,83.57,1904.01,4.74,1.82,28.10,1974.61,NaN,2019.71
std,1133.84,1134.68,1134.97,686.97,922.70,686.33,17737.41,692.79,17737.41,514.86,514.86,175546.20,90.22,5.32,140.22,115171.50,NaN,2.70
min,-396.85,-737.77,-728.74,-22376.19,-40395.74,-22376.19,-987800.00,-8500.00,-987800.00,-18354.55,-10128.87,-9382550.59,-939.17,-123.93,-108.47,-318.93,NaN,2014.00
25%,0.18,0.81,1.10,-1.24,0.00,-1.06,-0.38,-2.50,-0.38,18.07,11.03,46.29,1.02,0.49,2.65,0.00,NaN,2018.00
50%,0.87,1.86,2.25,3.24,12.84,3.61,3.37,3.74,3.37,56.22,43.50,114.04,1.33,1.26,6.65,0.00,NaN,2020.00
75%,3.73,5.90,6.52,15.13,40.39,15.45,11.98,16.23,11.98,88.86,81.77,255.76,2.72,2.16,19.71,30.96,NaN,2022.00
max,50006.00,50006.00,50006.00,14007.73,5717.98,13917.01,5853.27,20019.52,5853.27,10228.87,18454.55,5082814.88,5135.91,204.63,3661.54,7041215.00,NaN,2024.00

In [4]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [ ]:
data = raw_data.drop(["Obrat_dlhodobeho_majetku", "Doba_obratu_zasob"], axis = 1)
#Drop collumns with more than 15% missing values or unnecessary ones(based on our selected criteria)

In [ ]:
cols_am = data.columns[:13]
# Delete rows with all values 0/NaN or with >5 missing values
def delete_rows(row):
    values = row[cols_am]
    all_empty_or_zero = ((values == 0) | (values.isna())).all()
    missing_too_many = values.isna().sum() > 5
    rok_2024 = row["Rok"] == 2024
    return all_empty_or_zero or missing_too_many or rok_2024

# Apply function + delete duplicates
df_filtered = data[~data.apply(delete_rows, axis=1)]
final_df = df_filtered.drop_duplicates()

In [10]:
final_df.describe(include='all')

,Lik_1,Lik_2,Lik_3,ROA,ROE,ROI,Rentabilita_trzieb,Rentabilita_nakladov,Ziskova_marza,Stupen_samofinancovania,Stupen_zadlzenosti,Doba_splacania_zavazkov,Financna_paka,Obrat_aktiv,Firma,Rok
count,3844.00,3844.00,3844.00,3960.00,3960.00,3960.00,3685.00,3868.00,3685.00,3960.00,3960.00,3868.00,3960.00,3960.00,3960,3960.00
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,965,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ENERGYR PLUS, s.r.o.",NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
mean,35.71,38.89,40.05,-23.85,-10.25,-23.42,-462.35,43.16,-462.35,11.80,88.04,1780.56,4.95,1.91,NaN,2019.68
std,1142.72,1143.55,1143.85,710.07,954.61,709.41,17864.46,698.45,17864.46,531.48,531.49,176932.68,93.33,5.44,NaN,2.72
min,-396.85,-737.77,-728.74,-22376.19,-40395.74,-22376.19,-987800.00,-8500.00,-987800.00,-18354.55,-10128.87,-9382550.59,-939.17,-123.93,NaN,2014.00
25%,0.19,0.82,1.11,-1.72,0.16,-1.49,-0.33,-2.31,-0.33,16.92,15.12,46.40,1.05,0.63,NaN,2018.00
50%,0.88,1.87,2.27,4.00,14.54,4.48,3.38,3.85,3.38,52.08,47.45,113.74,1.39,1.35,NaN,2020.00
75%,3.77,5.93,6.56,16.11,42.32,16.28,11.99,16.26,11.99,84.84,82.84,253.70,2.86,2.26,NaN,2022.00
max,50006.00,50006.00,50006.00,14007.73,5717.98,13917.01,5853.27,20019.52,5853.27,10228.87,18454.55,5082814.88,5135.91,204.63,NaN,2023.00

In [11]:
final_df.isnull().sum()

Lik_1                      116
Lik_2                      116
Lik_3                      116
ROA                          0
ROE                          0
ROI                          0
Rentabilita_trzieb         275
Rentabilita_nakladov        92
Ziskova_marza              275
Stupen_samofinancovania      0
Stupen_zadlzenosti           0
Doba_splacania_zavazkov     92
Financna_paka                0
Obrat_aktiv                  0
Firma                        0
Rok                          0
dtype: int64

In [ ]:
final_df.to_excel("Metrics_edited.xlsx", index=False)

### After cleaning the dataset, we have inspected it in depth in excel and deleted few more rows containing noisy data + created bankruptcy collumn based on the companies profile - year of bankruptcy has been retrieved from RÃšZ